<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travel Agency</title>
    <!-- bootstrap links -->


     <!-- Latest compiled and minified CSS -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">

<!-- Latest compiled JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

<!-- link css -->

 <!-- link for icons -->
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  

</head>
<style>
  *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: white;
    color:black;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav ul li a:hover {
  color:#2980B9  !important;
  font-weight: bold;
}
nav button{
   
    padding: 10px 20px;
  border:1px solid ;
  color: white;
  background-color:#2980B9; 
  border-radius: 15px;
}
.logoimage{
    height:100%;
    width:10%;
    margin-left:7%;
}
/* navpart end */


.packages{
    text-align: center;
  color:white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.price{
    font-size:x-large;
}
span{
    font-size: larger;
    font-weight: bolder;
}
.filled{
color: orange;
}
footer input{
  padding: 10px;
  border-radius: 15px;
  border: 1px solid black;
  width:70%;
}

 footer i{
  color:white;
} 
footer span{
  background-color:#2980B9;
  border-radius: 50%;
  padding: 6px;

}
footer a{
  text-decoration: none;
  color: black;
}
</style>
<body>


    <!-- nav part start -->

   <header class="container-fluid shadow-lg position-fixed top-0 start-0 bg-white z-1	">
  <div class="container">
<div class="row">
<div class="col-12">
<nav class="navbar navbar-expand-lg bg-white  ">
 <a class="navbar-brand" href="#">
  <img  width="200" height="80px"  src="https://static.vecteezy.com/system/resources/previews/007/534/836/non_2x/tour-and-travel-logo-design-template-vector.jpg">
 </a>

  <button class="navbar-toggler " type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="ms-lg-5 ms-1">
 <ul class="navbar-nav me-auto mb-2 mb-lg-0 d-flex gap-3 ms-5 ">
       <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="travelindex.html">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="gallery.html">Gallery</a>
        </li>
       
           <li class="nav-item">
          <a class="nav-link active " aria-current="page" href="packages.html">Packages</a>
        </li>
           <li class="nav-item">
          <a class="nav-link active d-lg-none" aria-current="page" href="travelbook.html">Booking</a>
        </li>
           <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="travelbook.html">Booking</a>
        </li>
           <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="home.html">Chatbot</a>
        </li>
            <li class="nav-item">
          <a class="nav-link active d-lg-none" aria-current="page" href="formtravel.html">Sign in</a>
        </li>
        
       </ul>
      </div>
      

    </div>
<div class="d-flex gap-2 ">  
<button class="d-none d-lg-block ">
   <a href="interneeform.html" style="color: white; text-decoration: none;"> Our  Portal
</a>
</button>
<button  class="d-none   d-lg-block ">
   <a href="formtravel.html" style="color: white; text-decoration: none;"> Sign In
</a>
</button>
</div>

</nav>
</div>
</div>
  </div>
</header>

     <br><br><br><br><br>
    <div class="container mt-3">
        <h1 style="text-align: center; " class="packages ">Packages</h1>
    </div>
    <div class="container mt-2">
        <div class="row">
           <div class="col-md-4 col-sm-4  my-2 ">
            <img height="100%" width="100%" src="kashmir.jpg" alt="no internet connection" class="img-fluid rounded">

       <h1 class="mt-2" >SwitzerLand</h1>
       <p class="ms-1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae tenetur eveniet ut quos dignissimos quisquam culpa ab vel similique veniam aliquid eaque reiciendis, </p>
       <i class="fa-solid fa-star filled "></i>
       <i class="fa-solid fa-star filled"></i>
       <i class="fa-solid fa-star filled"></i>
       <i class="fa-solid fa-star "></i>
       <i class="fa-solid fa-star "></i>

       <p class="price">Price:<span>$500</span></p>
   <a href="#" class="btn btn-success mb-3">Book Now</a>
    </div>
           <div class="col-md-4 col-sm-4  my-2 ">
            <img height="100%" width="100%" src="amrika.jpg" alt="no internet connection" class="img-fluid rounded">

               <h1 class="mt-2">America</h1>
               <p class="ms-1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae tenetur eveniet ut quos dignissimos quisquam culpa ab vel similique veniam aliquid eaque reiciendis, </p>
               <i class="fa-solid fa-star filled "></i>
               <i class="fa-solid fa-star filled"></i>
               <i class="fa-solid fa-star filled"></i>
               <i class="fa-solid fa-star "></i>
               <i class="fa-solid fa-star "></i>
        
               <p class="price">Price:<span>$900</span></p>
           <a href="#" class="btn btn-success mb-3">Book Now</a>
            </div>
           <div class="col-md-4 col-sm-4  my-2 ">
            <img height="100%" width="100%" src="france.jpg" alt="no internet connection" class="img-fluid rounded">

               <h1 class="mt-2">France</h1>
               <p class="ms-1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae tenetur eveniet ut quos dignissimos quisquam culpa ab vel similique veniam aliquid eaque reiciendis, </p>
               <i class="fa-solid fa-star filled "></i>
               <i class="fa-solid fa-star filled"></i>
               <i class="fa-solid fa-star filled"></i>
               <i class="fa-solid fa-star "></i>
               <i class="fa-solid fa-star "></i>
        
               <p class="price">Price:<span>$800</span></p>
           <a href="#" class="btn btn-success mb-3">Book Now</a>
            </div>
        </div>
        <div class="row mt-3">
           <div class="col-md-4 col-sm-4  my-2 ">
            <img height="100%" width="100%" src="istanbul.avif" alt="no internet connection" class="img-fluid rounded">

       <h1 class="mt-2">Turkey</h1>
       <p class="ms-1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae tenetur eveniet ut quos dignissimos quisquam culpa ab vel similique veniam aliquid eaque reiciendis, </p>
       <i class="fa-solid fa-star filled "></i>
       <i class="fa-solid fa-star filled"></i>
       <i class="fa-solid fa-star filled"></i>
       <i class="fa-solid fa-star "></i>
       <i class="fa-solid fa-star "></i>

       <p class="price">Price:<span>$300</span></p>
   <a href="#" class="btn btn-success mb-3">Book Now</a>
    </div>
           <div class="col-md-4 col-sm-4  my-2 ">
            <img height="100%" width="100%" src="islamabad.jpg" alt="no internet connection" class="img-fluid rounded">

               <h1 class="mt-2">Pakistan</h1>
               <p class="ms-1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae tenetur eveniet ut quos dignissimos quisquam culpa ab vel similique veniam aliquid eaque reiciendis, </p>
               <i class="fa-solid fa-star filled "></i>
               <i class="fa-solid fa-star filled"></i>
               <i class="fa-solid fa-star filled"></i>
               <i class="fa-solid fa-star "></i>
               <i class="fa-solid fa-star "></i>
        
               <p class="price">Price:<span>$700</span></p>
           <a href="#" class="btn btn-success mb-3">Book Now</a>
            </div>
           <div class="col-md-4 col-sm-4  my-2 ">
            <img height="100%" width="100%" src="america.jpg" alt="no internet connection" class="img-fluid rounded">
   
               <h1 class="mt-2">China</h1>
               <p class="ms-1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae tenetur eveniet ut quos dignissimos quisquam culpa ab vel similique veniam aliquid eaque reiciendis, </p>
               <i class="fa-solid fa-star filled "></i>
               <i class="fa-solid fa-star filled"></i>
               <i class="fa-solid fa-star filled"></i>
               <i class="fa-solid fa-star "></i>
               <i class="fa-solid fa-star "></i>
        
               <p class="price">Price:<span>$1000</span></p>
           <a href="#" class="btn btn-success mb-3">Book Now</a>
            </div>
        </div>
        </div>
    <footer class="container-fluid mt-5 bg-muted">
<div class="container mt-5">
<div class="row">
<div class="col-lg-6  col-12">
<h5 style="font-weight: bold;">Subscribe to Newsletter
</h5>
<p>Subscribe to our newsletter and get exclusive insights, trends.</p>
</div>
<div class="col-lg-6 col-12 " >
  <div class="d-flex justify-content-start justify-content-lg-end mt-3 mt-lg-0">
<input type="email" placeholder="Enter Your Email" class="shadow-lg " >

  </div>

</div>
<hr class="mt-3">

<div class="col-lg-6 col-12 ">
  <div>
<!-- <img class="mt-2" width="160" height="50" src="bg remove.png"> -->
<p class="mt-3">"The ultimate platform crafted to elevate travel experiences across the globe."

</p>
<i class="fa-solid fa-phone" style="color:#2980B9;"></i>&nbsp;  +92 312 3023645
<a href="#"></a>
<div class="mt-3  d-flex gap-2">
<!-- <span><a href="#"><i class="fa-brands fa-facebook-f"></i></a></span> -->
<span><a href="#"><i class="fa-brands fa-twitter"></i></a></span>
<span><a href="#"><i class="fa-brands fa-linkedin-in"></i></a></span>
<span><a href="#"><i class="fa-brands fa-instagram"></i></a></span>
</div>

  </div>
</div>


<div class="col-lg-6 col-12 mt-4 mt-lg-0">
  <div class="d-flex gap-5 justify-content-lg-end justify-content-start">
<div  >
<h5>Company</h5><br>
<a href="internee.html">Home</a><br>
<a href="studentamb.html">Tour Packages</a><br>
<a  href="#">Destinations</a><br>
<a  href="#">About Us</a>
</div>
<div>
<h5>Travel Blog</h5><br>
<a href="#">Travel Guides</a><br>
<a href="#">Travel Insurance</a><br>
<a href="#">Visa Information</a>

</div>
  </div>

</div>
<hr class="mt-4">
<p class="text-center mt-1">Copyright © 2025 internee.pk

</p>
</div>
</div>
</footer>
</body>
</html>